openapi: 3.1.0

info:
  title: CEN Analyst Read API
  description: >-
    API chỉ đọc dữ liệu vận hành của CEN cho CEN Analyst.
    Chỉ hỗ trợ truy vấn tasks, projects, reports, performance và members.
    API không có khả năng tạo, sửa, xóa, duyệt hoặc thay đổi dữ liệu CEN.
  version: "1.0.1"

servers:
  - url: https://cenwork.tudogroup.vn
    description: CEN WORK production

security:
  - bearerAuth: []

paths:
  /api/ai/read:
    post:
      operationId: cenAnalystRead
      summary: Đọc dữ liệu CEN
      description: >-
        Chỉ đọc dữ liệu mà CEN_AI_VIEWER_USER_ID có quyền xem.
        Sử dụng action này khi cần dữ liệu thật từ CEN để trả lời,
        phân tích, thống kê, đánh giá hoặc lập báo cáo.
        Không sử dụng action này để thay đổi dữ liệu.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReadRequest"

      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadResponse"

        "400":
          description: >-
            Resource, filter, sort không hợp lệ,
            hoặc không resolve được entity theo tên
            (ENTITY_NOT_FOUND / ENTITY_AMBIGUOUS)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "401":
          description: Thiếu hoặc sai API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        "503":
          description: Máy chủ chưa kết nối cơ sở dữ liệu
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:

    ReadRequest:
      type: object
      required:
        - resource

      properties:

        resource:
          type: string
          enum:
            - tasks
            - projects
            - reports
            - daily_reports
            - performance
            - members
          description: >-
            Nhóm dữ liệu cần đọc.
            Chỉ sử dụng một trong 5 resource được liệt kê.

        filters:
          type: object
          description: >-
            Filter hỗ trợ theo resource.

            Các filter entity: team, member, assignee, author,
            leader, owner, project.
            Mỗi filter entity nhận UUID, tên hiển thị
            (không phân biệt hoa/thường, có hoặc không dấu),
            hoặc một mảng gồm nhiều giá trị như vậy.
            Không cần hỏi người dùng UUID.
            Nếu tên không tồn tại trong phạm vi được xem,
            API trả lỗi ENTITY_NOT_FOUND.
            Nếu tên trùng nhiều entity, API trả ENTITY_AMBIGUOUS
            kèm danh sách candidates để chọn lại.
            performance chỉ nhận một giá trị cho team và member.

            tasks:
            status, project, assignee, member, team, priority,
            overdue, from, to, search.

            projects:
            status, leader, owner, team, from, to, search.

            reports:
            report_type, author, member, team, project,
            status, from, to, search.

            performance:
            member, team, from, to, metric.
            from và to là bắt buộc khi đọc performance.

            members:
            team, status, active, role, search.

            Chỉ gửi filter cần thiết cho câu hỏi.
            Không tự tạo filter ngoài danh sách được hỗ trợ.
          additionalProperties: true

        sort:
          type: object
          properties:

            field:
              type: string
              description: >-
                Field được phép sort theo resource.

                tasks:
                deadline, created_at, updated_at,
                completed_at, priority, status, name.

                projects:
                deadline, created_at, updated_at,
                completed_at, status, name.

                reports:
                due_at, created_at, updated_at,
                last_submitted_at, status, period_key.

                members:
                display_name, status.

                Chỉ sử dụng field phù hợp với resource đang đọc.

            direction:
              type: string
              enum:
                - asc
                - desc

        limit:
          type: integer
          default: 100
          minimum: 1
          maximum: 500
          description: >-
            Số bản ghi tối đa mỗi request.
            Khi cần phân tích nhiều dữ liệu, sử dụng offset để đọc tiếp.

        offset:
          type: integer
          default: 0
          minimum: 0

      additionalProperties: false

    ReadResponse:
      type: object
      properties:

        resource:
          type: string

        data:
          type: array
          items:
            type: object
            additionalProperties: true

        meta:
          type: object
          properties:

            count:
              type: integer

            limit:
              type: integer

            offset:
              type: integer

            has_more:
              type: boolean

            resolved_filters:
              type: object
              description: >-
                Chỉ xuất hiện khi filter được gửi bằng tên.
                Cho biết CEN đã hiểu tên đó là entity nào.
              additionalProperties:
                type: object
                properties:
                  input: {}
                  resolved:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        team_name:
                          type: string

    ErrorResponse:
      type: object
      properties:

        error:
          type: object
          properties:

            code:
              type: string
              description: >-
                INVALID_RESOURCE, INVALID_FILTER, INVALID_SORT,
                ENTITY_NOT_FOUND, ENTITY_AMBIGUOUS, QUERY_FAILED,
                UNAUTHORIZED, DB_NOT_CONFIGURED, INTERNAL_ERROR.

            message:
              type: string

            entity_type:
              type: string
              description: team, member hoặc project (lỗi entity).

            query:
              type: string
              description: Giá trị người dùng đã nhập gây lỗi entity.

            candidates:
              type: array
              description: Danh sách entity trùng tên khi ENTITY_AMBIGUOUS.
              items:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  team_name:
                    type: string

            allowed_filters:
              type: array
              items:
                type: string

            allowed_values:
              type: array
              items:
                type: string
